 .ui-tooltip, .arrow:after {
    background: #fff;
    border: 2px solid white;
  }
  .ui-tooltip {
	padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    font: 12px "Arial", Sans-Serif;
    box-shadow: 0 0 2px black;
    max-width: 700px;
    z-index: 0;
    min-height: 37px;
  }
  
  .ui-tooltip table {
    font: 10px "Arial", Sans-Serif;
    text-align: center;
    border-collapse: collapse;
  }
  
  
  .ui-tooltip table td {
    border-bottom: 1px solid #d8d8d8;
  }
  
  .ui-tooltip .right {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 12px;
  }
  
  .ui-tooltip .gray-bar {
  	display: block;
  	width: 80px;
  	height: 7px;
  	background: #a8a8a8;
  	margin-bottom: 3px;
  	margin-top: 10px;
  }
  
  
  .ui-tooltip .rating {
    display: block;
    height: 7px;
    background: #25a750;
}
  
  .ui-tooltip h3 {
  	margin: 0px;
  	font: 17px "Georgia", Arial, Sans-serif;
  }
  
  .ui-tooltip a.x {
	position: absolute;
	top:0;
	right:0;
  	width: 14px;
  	height: 14px;
  	background: url('chrome-extension://gbekfdkelhgokbaggnfjadclbkmapohd/images/x.jpg') no-repeat top center;
  	display: block;
  }
  
  .ui-tooltip a.x:hover {
  	background-position: bottom center;

  }
  
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    box-shadow: 6px 5px 9px -9px black;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
